<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" media="screen">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-brand">
                    <ul class="nav nav-pills">

                    </ul>
                </div>
            </div>
        </div>
  </div>

</body>
</html>
